<app-podcast-hero></app-podcast-hero>

<app-podcast-platforms></app-podcast-platforms>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">


			<img alt="" class="podcast__image-separator" src="/assets/img/podcast/separator.svg">
			<div class="podcast-host__wrapper">
				<picture>
					<source srcset="/assets/img/podcast/DerekHostProfile.webp" type="image/webp">
					<img src="/assets/img/podcast/DerekHostProfile.png" alt="Derek E. Silva" />
				</picture>
				<div>
					<h2>About the Host</h2>
					<p>
						As the Global Community Manager for Orchid, Derek is responsible for communicating the core tenets and benefits of Orchid to thousands of people. Derek is a former IT professional, building his communication skills while working across multiple industries and demographics. He has read dozens of whitepapers, interviewed individuals from top technology companies, provided one-on-one support, and now dedicates his time to helping blockchain companies build communities.
					</p>
				</div>
			</div>
			<img alt="" class="podcast__image-separator" src="/assets/img/podcast/separator.svg">

		</section>
	</div>
</div>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>