<div class="hero__wrapper">
    <div class="hero__container">

        <img class="hero__orchid-logo" src="/assets/img/shared/orchid-logo-text-white.svg" width="93" height="24"
             alt="Orchid">

        <span class="hero__text-presents">Presents</span>

        <div class="hero__logo-wrapper">
            <div class="hero__logo-container">
                <picture>
                    <source srcset="/assets/img/priv8/priv8.webp" type="image/webp">
                    <img src="/assets/img/priv8/priv8.png" width="1132" height="1132">
                </picture>
            </div>
        </div>

        <h1>Check out this page on our <a href="https://www.orchid.com/priv8/">main site</a>.</h1>

        <a routerLink="/newsletter-signup">
            <button class="btn-primary">
                Sign up for our Newsletter
            </button>
        </a>
    </div>

	<div style="height: 8vw;"></div>

    <div class="hero__vector-wrapper">
        <div class="hero__vector-container">
            <img src="/assets/img/priv8/hero-vector-sides.svg" width="4307" height="394" class="hero__vector-sides">
            <img src="/assets/img/priv8/hero-vector.svg" width="300" height="82" class="hero__vector">
        </div>
    </div>
</div>



<div class="contact__wrapper" id="Contact">
    <div class="chev__separator-container">
        <img width="1000" height="268" src="/assets/img/priv8/fancy-chev-4.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z" fill="#3F2082" />
    </svg>

    <h3 class="priv8__heading">CONTACT</h3>

    <h4>Questions?</h4>
    <br />
    <p>
        Contact us at <br />
        <a href="mailto:priv8@orchid.com">priv8@orchid.com</a>
    </p>

    <ul class="phantom-list contact__social-list">
        <li>
            <a class="inline-block" href="https://twitter.com/OrchidProtocol" target="_blank" rel="noopener noreferrer" aria-label="Follow on Twitter" title="Twitter">
                <img src="/assets/img/shared/social-twitter.svg" alt="Twitter" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.reddit.com/r/orchid/" target="_blank" rel="noopener noreferrer" aria-label="Check out our Subreddit" title="Reddit">
                <img src="/assets/img/shared/social-reddit.svg" alt="Reddit" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.t.me/OrchidOfficial" target="_blank" rel="noopener noreferrer" aria-label="Join us on Telegram" title="Telegram">
                <img src="/assets/img/shared/social-telegram.svg" style="width: 32px; height: auto;" alt="Telegram" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://github.com/OrchidTechnologies" target="_blank" rel="noopener noreferrer" aria-label="See the Source" title="Github">
                <img src="/assets/img/shared/social-github.svg" alt="Github" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.facebook.com/OrchidProtocol" target="_blank" rel="noopener noreferrer" aria-label="Follow on Facebook" title="Facebook">
                <img src="/assets/img/shared/social-facebook.svg" alt="Facebook" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.youtube.com/channel/UCIH_BKBlNemsCzDhPYZBlHw" target="_blank" rel="noopener noreferrer" aria-label="Follow on YouTube" title="YouTube">
                <img src="/assets/img/shared/social-youtube.svg" alt="YouTube" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.linkedin.com/company/orchidprotocol" target="_blank" rel="noopener noreferrer" aria-label="Follow on LinkedIn" title="LinkedIn">
                <img src="/assets/img/shared/social-linkedin.svg" alt="LinkedIn" width="32" height="32">
            </a>
        </li>
    </ul>

    <p>
        © {{year}} Orchid Labs, Inc.
    </p>
</div>